@import url(roboto.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    padding: 80px 0 0 0;
    background: #161616;
    color: #cecece;
    font-family: Roboto, sans-serif;
}

section {
    padding: 15px;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

h1:after {
    content: " ";
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #cdcdcd;
}
